/*
    CSS BASE
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    CSS BASE
*/

/*
    HEADER PAGE
*/
#headerAdmin{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #A8A8A8;
    height: 117px;
}

#headerLogo{
    width: 286px;
    height: 116px;
    margin-right: 43px
}

#labelHeader{
    font-size: 30px;
    line-height: 41px;
    font-family: 'Open Sans', sans-serif;
    color: #EB573D;
    padding-top: 39px;
}
/*
    HEADER PAGE
*/
main{
    display: flex;
}
/*Section SideBar*/
#sideBar{
    margin-top: 94px;
}


.sidebarItems{
    margin: 0 0 20px 230px;
    width: 310px;
    background: rgba(185, 185, 185, 0.20); 
    padding: 10px 0px 0px 20px;
    border-radius: 10px;
    list-style: none;
}

.sidebarItems:hover{
    background-color: rgba(245, 81, 69, 0.11);
    cursor: pointer;
}

.sidebarItems:hover a {
    color: #F55145;
}

.sidebarItems > a {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    display: flex;
}

.sidebarItems > a > p {
    margin: 5px 0 0 25px;
}

.logoItems {
    color: #A8A8A8;
    width: 35px;
    height: 35px;
}

.logoItems:hover {
    color: rgba(245, 81, 69, 0.11);
    cursor: pointer;
}

#opcaoEscolhida{
    background-color: rgba(245, 81, 69, 0.11);
    cursor: pointer;
}

#opcaoEscolhida > a{
    color: #F55145;
}

/*Section SideBar*/

/*Box Content*/

#contentPage{
    margin: 94px 0px 0px 50px;
    width: 1083px;
    height: 689px;
    background-color: #F7F7F7;
    border-radius: 15px;
    justify-content: center;
}

#welcomeMessage{
    font-family: 'Montserrat', sans-serif;
    color: #EB573D;
    padding: 43px 0 22px 33px;
    font-size: 48px;
}

#subMessage{
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 0 33px;
    font-size: 32px;
}


#nameContent{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    text-align: center;
    padding: 72px 0 65px 0;
}

#dataForm div{
    display: flex;
    margin-bottom: 23px;
    height: 42px;
    justify-content: center;
    font-family: 'Open Sans', 'sans-serif';
    color: #6A6A6A;
    font-size: 14px;
    
  
}

.datasGroups input{
    width: 400px;
    margin-right: 17px;
    padding-left:20px;
    border-radius: 10px;
    border: none;
    background: rgba(217, 217, 217, 0.55);
}

.datasGroups input:active{
    border: 1px solid #F55145
}

#cadastreButton{
    display: block;
    margin: auto;
    width: 339px;    
    height: 65px;
    font-family: 'Open-sans', sans-serif;
    background-color: #F55145;
    border: 1px solid #F55145;
    opacity: 0.7;
    border-radius: 20px;
    font-family: 'Open-sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 30px;
    line-height: 41px;
  }
  
  #cadastreButton:hover{
    cursor: pointer;
    opacity: 1;
  }
  /*Box Content*/